<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
      .message {
          height: 500px;
          border: 1px solid #dddddd;
          width: 100%;
      }
  </style>
</head>
<body>
<div class="message" id=message>
  <input type="text" placeholder="请输入" id="txt">
  <input type="button" value="发送" onclick="sendMessage();">
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>


<script>
    USER_UID = "{{ uid }}"

    function sendMessage() {
        var text = $("#txt").val();
        $.ajax({
            url: '/send/msg/',
            type: 'GET',
            data: {
                text: text
            },
            success: function (res) {
                console.log("请求发送成功", res);
            }
        })
    }

    function getMessage() {
        $.ajax({
            url: '/get/msg/',
            data: {
                uid: USER_UID
            },
            type: 'GET',
            dataType: "JSON",
            success: function (res) {
                console.log("请求发送成功， 返回结果：", res);
                if (res.status) {
                    var tag = $("<div>");
                    tag.text(res.data)

                    $("#message").append(tag);
                }
                getMessage();
            }
        })
    }

    $(function () {
        getMessage();
    })
</script>
</body>
</html>