<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
      .message {
          height: 500px;
          border: 1px solid #dddddd;
          width: 100%;
      }
  </style>
</head>
<body>
<div class="message" id=message>
  <input type="text" placeholder="请输入" id="txt">
  <input type="button" value="发送" onclick="sendMessage();">
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    function sendMessage() {
        var text = $("#txt").val();
        $.ajax({
            url: '/send/msg/',
            type: 'GET',
            data: {
                text: text
            },
            success: function (res) {
                console.log("请求发送成功", res);
            }
        })
    }

    max_index = 0;
    setInterval(function () {
        $.ajax({
            url: '/get/msg/',
            type: 'GET',
            data: {
                index: max_index
            },
            success: function (dataDict) {
                {#console.log("获取到数据-->", res);#}
                {#var dataDict = JSON.parse(res);#}
                max_index = dataDict.max_index
                $.each(dataDict.data, function (index, item) {
                    console.log(index, item);
                    var tag = $("<div>");
                    tag.text(item)

                    $("#message").append(tag);
                })
            }
        })
    }, 2000)
</script>
</body>
</html>